.calc{
    background: rgb(160, 203, 246);
    height: 250px;
    width: 200px;
   margin-top: 50px;
   margin-left: 450px;
   padding-left: 23px;
   padding-top: 23px;
   border-radius: 10px;
}
button{
    height: 40px;
    width: 40px;
    background-color: rgb(50, 141, 220);
    border-radius: 5px;
    border: 1px solid;
    margin-top: 5px;
   
}